<div class="col-sm-10">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <button type="button" class="close" (click)="removeBook(book.id)" data-dismiss="alert">&times;</button>
      <button type="button" (click)="manageText()" class="btn btn-info">{{ (isTextHidden ? 'Show Text' : 'Hide Text') }}</button>
      <button type="button" (click)="managePicture()" class="btn btn-info">{{ (isPictureHiden ? 'Show Picture' : 'Hide Picture') }}</button>
      <h3>{{book.title}}</h3>
      <blockquote class="card-blockquote">
        <p [hidden]="!isTextHidden">{{book.text | slice:0:150}}...</p>
        <p [hidden]="isTextHidden">{{book.text}}</p>
        <footer>Author:
          <cite title="Author">{{book.author}}</cite>
        </footer>
        <img [hidden]="isPictureHiden" src={{book.link}} />
      </blockquote>
    </div>
  </div>
</div>

<!-- (click)="show = !show">{{show ? 'hide' : 'show'}} -->