<div *ngIf="product" class="container">
  <div class="card mb-3">
    <h3 class="card-header">{{product.type}} {{product.brand}}</h3>
    <div class="card-body">
      <h5 class="card-title">{{product.description}}</h5>
      <!-- <h6 class="card-subtitle text-muted">added on: {{product.addedOn | date}}</h6> -->
    </div>

    <img class="img-responsive img-center" style="height: 650px; width: 75%;" src={{product.picture}} alt="Card image">

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fit: {{product.fit}}</li>
      <li class="list-group-item">Price: {{product.price | number : '1.2-2'}}</li>
      <li class="list-group-item">
        <label for="sel1">Size:</label>
        <select [disabled]="!product.isAvailable" [(ngModel)]="product.purchaseSize" name="size" class="form-control" id="sel1">
          <option *ngFor="let size of product.sizes" [value]="size">{{size}}</option>
        </select>
    </ul>
    <div *ngIf="product.isAvailable" class="text-center">
      <button (click)="purchase()" type="button" class="btn btn-success">Add to Cart</button>
      <button (click)="manageCommentForm()" type="button" class="btn btn-warning">{{ (!isCommentFormShowed ? 'View Comments' : 'Hide Comments') }}</button>
    </div>
    <div *ngIf="!product.isAvailable" class="text-center">
      <div class="alert alert-dismissible alert-danger">
        <strong>Product is not available.</strong>
        <br/>
        <a href="#" class="alert-link">Continue shopping.</a>
      </div>
    </div>
  </div>
  <div [hidden]="!isCommentFormShowed" class="container">
    <app-comment-page></app-comment-page>
  </div>
</div>