<form #registerForm="ngForm" (ngSubmit)="submitForm(registerForm.value)">
  <fieldset>
    <div class="container">
      <legend class="text-center">Register page</legend>
      <div class="form-group">
        <label>Username</label>
        <input #name="ngModel" type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input #em="ngModel" type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #pwd="ngModel" type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="repeatPassword">Repeat password</label>
        <input #repeatPwd="ngModel" type="password" class="form-control" name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="Repeat password">
      </div>
      <fieldset class="form-group">
        <legend>Gender</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input #gndr="ngModel" type="radio" class="form-check-input" name="gender" [(ngModel)]="user.gender" name="gender" value="Male"> Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input #gndr="ngModel" type="radio" class="form-check-input" name="gender" [(ngModel)]="user.gender" name="gender" value="Female"> Female
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input #gndr="ngModel" type="radio" class="form-check-input" name="gender" [(ngModel)]="user.gender" name="gender" value="Other"> Other
          </label>
        </div>
      </fieldset>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </fieldset>
</form>