<div class="container">
  <h2 class="text-center">Leave your comment</h2>
  <form class="form-horizontal" action="/action_page.php" [formGroup]='commentForm' (ngSubmit)="submitComment(commentForm)">
    <div class="form-group">
      <label class="control-label col-md-12 text-center" for="email">Comment:</label>
      <div class="form-group">
        <textarea formControlName="comment" class="form-control" id="comment" rows="3"></textarea>
        <div class="alert alert-danger" *ngIf="commentForm.get('comment').hasError('required') && commentForm.get('comment').touched">
          Comment is required
        </div>
        <div class="alert alert-danger" *ngIf="commentForm.get('comment').hasError('minlength') && commentForm.get('comment').touched">
          Comment min lenght is 2 symbols
        </div>
        <div class="alert alert-danger" *ngIf="commentForm.get('comment').hasError('maxlength') && commentForm.get('comment').touched">
          Comment maximum lenght is 30 symbols
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-default">Add Comment</button>
      </div>
    </div>
  </form>
</div>