<div *ngIf="overallPrice > 0">
  <div class="jumbotron">
    <h1 class="text-center">Your products</h1>
    <h4 class="text-center">Order the products in your cart with one click!</h4>
  </div>

  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Brand</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="table-success">
        <td>{{product.brand}}</td>
        <td>{{product.type}}</td>
        <td>{{product.purchaseSize}}</td>
        <td>{{product.price}}</td>
        <td>
          <button (click)="removeProduct(product)" type="button" class="btn btn-outline-warning">Remove</button>
        </td>
      </tr>
    </tbody>

  </table>
  <h3 class="table-success text-center">
    <p>Overall price: {{overallPrice | number : '1.2-2'}}</p>
    <button (click)="purchaseProducts()" type="button" class="btn btn-primary">Make Purchase</button>
    <button (click)="redirectToProducts()" type="button" class="btn btn-primary">Continue shopping</button>
  </h3>
</div>

<div class="jumbotron" *ngIf="overallPrice == 0">
  <h1 class="text-center">You don't have purchased products</h1>
  <h4 class="text-center"> Enter the "Products" section to purchase. </h4>
</div>